<%- include('partials/header') %>

<title>About</title>
<link rel="stylesheet" href="/public/stylesheet/cplayout1.css">

<!-- Here you we will include other css and js files that are not to be used for every age -->

</head>
<body>

<%- include('partials/navbar') %>
 
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>



 <div class="container">
    <h1 style="text-align: center;">About Us!</h1>
    <h3>
      "Established in 2003, the undergraduate course for 1st year B.Tech students is equipped with the solutions of several Real-life problems in different branches in Physics.
    </h3>
    <h3>
      The course is divided into Two Sections one is UG Classical Physics Course and the other is UG physics Lab. Laboratory work is also a very important part of a course in General Physics. It reinforces the student’s understanding of fundamental concepts and principles while, at the same time, helping the student to develop skill in carrying out scientific measurements. It is designed in such a way that the students can understand the basics of Physics through hands on experiments."
     </h3> 

    <h1 style="text-align: center;">Faculty's Corner</h1>
    <div class="flip-card">
    
      <div class="flip-card-front">
        <div class="flip-card-img">
          <img src="https://i1.rgstatic.net/ii/profile.image/279259575799811-1443592079274_Q512/Amit_Neogi.jpg" alt="Avatar Placeholder" />
        </div>
        <div class="flip-card-text">
          <h3 style="text-align: center;color:grey">Prof. Amit Neogi</h3>
          <p style="text-align: center;color:grey">Assistant Professor & Chief Warden<br> Ph.D.,IIT Kanpur</p>
        </div>
      
    </div>
  </div>
   <h3 style="margin-top:50px;">
      "The course is divided into Two Sections one is UG Classical Physics Course and the other is UG physics Lab. Laboratory work is also a very important part of a course in General Physics. It reinforces the student’s understanding of fundamental concepts and principles while, at the same time, helping the student to develop skill in carrying out scientific measurements. It is designed in such a way that the students can understand the basics of Physics through hands on experiments."
     </h3>

</div>
 </div> 
<%- include('partials/footer') %>
</body>
</html>