
<%- include('partials/header') %>

<title>Add Video Lecture</title>

<!-- Here you we will include other css and js files that are not to be used for every age -->


<style type="text/css">


	.jumbotron {
 
  
  font-size: 3rem;
 
}

body
{
	background-color: black;
}

label
{
	font-size: 3rem;
	color: white;


}

.upload{
	color:white;
	

}



</style>



</head>


<body>

<%- include('partials/navbar') %>

	
<div class="container">

<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://i.imgur.com/xKrSHaM.png)">
	<h3 class="upload"> Add Video Lecture Link </h3>
	<form method="post" action="/addVideo">
  

  		<div class="form-group">
		    <label for="givename">Give Display Name for the Video</label>
		    <input type="text" name="showname" placeholder="Write Display Name for this Video"   class="form-control" id="givename"required >
		  </div>
  			
		  <div class="form-group">
		    <label for="vid">ADD Link</label>
		    <input type="text" name="videolink" class="form-control" id="vid" placeholder="Paste Link Of Video Lecture" required>
		  </div>
		  
		  

		 <div class="form-group">
	
		<label for="fieldnames">Select Chapter</label>
		<select id="fieldnames"  name="field_val" class="form-control">
		<option val="chapter1">Chapter1</option>
		<option val="chapter2">Chapter2</option>
		<option val="chapter3">Chapter3</option>
		<option val="chapter4">Chapter4</option>
		<option val="chapter5">Chapter5</option>
		<option val="chapter6">Chapter6</option>
		<option val="chapter7">Chapter7</option>
		<option val="chapter8">Chapter8</option>
		<option val="chapter9">Chapter9</option>
		<option val="chapter10">Chapter10</option>
		<option val="chapter11">Chapter11</option>
		<option val="chapter12">Chapter12</option>
		</select>


		 </div>


 
  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>
</div>
</div>




		
<%- include('partials/footer') %>


