<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <title>team</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CSS only -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://www.lnmiit.ac.in/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<!-- JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Here you we will include other css and js files that are not to be used for every age -->


    <link rel="stylesheet" href="/public/stylesheet/team/card.css">
    <link rel="stylesheet" href="/public/stylesheet/team/cardlayout.css">
    <link rel="stylesheet" href="/public/stylesheet/team/c.css">
    

 <link rel="stylesheet/less" href="/public/stylesheet/team/card.less" type="text/css" />
<script src="https://raw.githubusercontent.com/less/less.js/master/dist/less.min.js"></script>
    <style type="text/css">
  

  .mn{
    padding-top: 30px;
    text-align: center;
  }

        html {
            position: relative;
            min-height: 100%;
        }
body{

  background-color: black;
}


</style>

<script type="text/javascript">
    // Prevent dropdown menu from closing when click inside the form
    $(document).on("click", ".navbar-right .dropdown-menu", function(e){
        e.stopPropagation();
    });
</script>
</head>
<body>

<%- include('partials/navbar') %>
    
    





<script>
  $('#monitor').html($(window).width());

$(window).resize(function() {
    var viewportWidth = $(window).width();
    $('#monitor').html(viewportWidth);
});
</script>

<section class="container">
    <div class="page-header">
 
<div class="container">
              <div class="skills">
    <hr class="hr-text" data-content="OUR TEAM" style="font-size: x-large;"></div>
  </div>
  



    </div>
    <div class="row active-with-click">
       <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Garvit Modi</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/public/team/garvit.jpeg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/garvit.modi.77"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/ModiGarvit"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/garvit-modi-b49188173"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:garvitmodi.369@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Bharat Agrawal</span>
                  
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/bharat.jpg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/bharat.agrawal.3954/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/BharatA23385356"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/bharat-agrawal-ba6a87145"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:bharatagrawal257@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Jayant Khandelwal</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/jayant.jpg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/jayant.khandelwal.94"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/jayantkhandelw2"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/jayant-khandelwal-2879aa157/"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:jayant.khandelwal7@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Pursharth Maheshwari</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/pursharth.jpg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/pursharth.maheshwari.9"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/PursharthMahes1?s=09"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/pursharth-maheshwari-b94130174"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:pursharthm@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Vishal Jain</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/vishal.jpeg">
                    </div>
                   
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/profile.php?id=100026494492146"></a>
                    <a class="fa fa-fw fa-twitter" href="#"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/vishal-jain-ab2151197/"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:vishaljain63957@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Siddharth Sharma</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/siddharth.jpg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                   <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/profile.php?id=100000954955441"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/innovatoronspr"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/siddharthonspree/"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:siddharthsharmajp@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Anurag Gupta</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../public/team/anurag.jpg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/profile.php?id=100008128410319"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/Anurag_gupta20?s=08"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/anurag-gupta-850b30186"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:ganurag886@gmail.com"></a>
                </div>
            </article>
        </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Rishabh Garg</span>
                    
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/public/team/rishabh.jpeg">
                    </div>
                    
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook" href="https://www.facebook.com/rishabh.agarwal.52056/"></a>
                    <a class="fa fa-fw fa-twitter" href="https://twitter.com/Rishabh69973557"></a>
                    <a class="fa fa-fw fa-linkedin" href="https://www.linkedin.com/in/rishabh-garg-339358179/"></a>
                    <a class="fa fa-fw fa-envelope" href="mailto:18ucs020@lnmiit.ac.in"></a>
                </div>
            </article>
        </div>
         
    </div>
</section>



  

<script src="/public/js/team/jquery.material-cards.min.js"></script>

<script>
    $(function() {
        $('.material-card').materialCard({
            icon_close: 'fa-chevron-left',
            icon_open: 'fa-thumbs-o-up',
            icon_spin: 'fa-spin-fast',
            card_activator: 'click'
        });

//        $('.active-with-click .material-card').materialCard();

        window.setTimeout(function() {
            $('.material-card:eq(1)').materialCard('open');
        }, 2000);

        $('.material-card').on('shown.material-card show.material-card hide.material-card hidden.material-card', function (event) {
            console.log(event.type, event.namespace, $(this));
        });

    });
</script>
    
    
 <%- include('partials/footer') %>    


</body>
</html> 
